# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 2
insert_final_newline = true

[*.{yaml,yml}]
# tabs are not allowed as indentation in YAML
indent_style = space
